<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Usuário</h2>
            </div>
            <div class="p-2">
                <a href="/admin/usuarios" class="btn btn-warning">Listar Usuários</a>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        {{> _msg}}
        <form action="/admin/updateUsuario" method="POST">
            <input type="hidden" name="id" value="{{data._id}}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome"><span class="text-danger">*</span> Nome Completo</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="{{data.nome}}" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="valor"><span class="text-danger">*</span> Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="{{data.email}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="valor"><span class="text-danger">*</span> CPF</label>
                    <input type="text" name="cpf" id="cpf" class="form-control" value="{{data.cpf}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="valor"> Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="categoria">Grupo</label>
                    <select name="grupo" id="grupo" class="form-control">
                        {{#select data.grupo._id}}
                        {{#each grupos}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                        <option value="">Nenhum Grupo encontrado!</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        {{#ifCond data.status 1}}
                        <option value="1" selected>Ativo</option>
                        <option value="0">Inativo</option>
                        {{else}}
                        <option value="1">Ativo</option>
                        <option value="0" selected>Inativo</option>
                        {{/ifCond}}
                    </select>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>

</div>